<div class="container mt-5">
    <!-- Encabezado -->
    <div class="jumbotron text-center p-4 bg-light rounded">
      <h1 class="display-4">{{ zone.name }}</h1>
      <p class="lead">{{ zone.description }}</p>
    </div>
  
    <!-- Imagen de la zona -->
    <div class="text-center my-4">
      <img 
        [src]="url + zone.image" 
        alt="{{ zone.name }}" 
        class="img-fluid rounded" 
        style="width: 500px; box-shadow: 0px 4px 8px rgba(0,0,0,0.2);" />
    </div>
  
    <!-- Lista de habitantes -->
    <div class="card mt-4 mb-4 shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Habitantes</h2>
        <ul class="list-group list-group-flush">
          <li 
          class="list-group-item d-flex align-items-center"
          *ngFor="let inhabitant of inhabitants">
          <!-- Imagen del habitante -->
          <img 
          [src]="inhabitant.image ? url2 + inhabitant.image : '/default-avatar.png'" 
          alt="{{ inhabitant.name }}" 
          class="rounded-circle me-3" 
          width="100" 
          height="100">
        
        
          <!-- Nombre del habitante -->
          <span class="fw-bold h3">{{ inhabitant.name }}</span>
        </li>
        </ul>
      </div>
    </div>
  </div>
  