<div class="col-lg-6 mx-auto mt-4">
    <div class="jumbotron text-center p-4 bg-light rounded">
        <h1 class="display-4">Crear Especie</h1>
    </div>
    <form #createSpecieForm="ngForm" (submit)="onSubmit(createSpecieForm)">
        <div class="form-group">
            <label for="specieName">Nombre de la especie:</label>
            <input
                type="text"
                id="specieName"
                class="form-control"
                [(ngModel)]="specie.name"
                name="name"
                placeholder="Introduce el nombre de la especie"
                required
            />
        </div>

        <div class="form-group">
            <label for="specieTechName">Nombre técnico de la especie:</label>
            <input
                type="text"
                id="specieTechName"
                class="form-control"
                [(ngModel)]="specie.technical_name"
                name="name"
                placeholder="Introduce el nombre técnico de la especie"
                required
            />
        </div>


        <div class="form-group mt-3">
            <label for="specieDescription">Descripción de la especie:</label>
            <textarea
                id="specieDescription"
                class="form-control"
                [(ngModel)]="specie.description"
                name="description"
                placeholder="Introduce una descripción"
                rows="3"
                required
            ></textarea>
        </div>

        

        <div class="form-group mt-3">
            <label for="specieDiet">Dieta:</label>
            <textarea
                id="specieDiet"
                class="form-control"
                [(ngModel)]="specie.diet"
                name="diet"
                placeholder="Introduce la dieta de la especie"
                rows="3"
            ></textarea>
        </div>

        <div class="form-group mt-3">
            <label for="specieImage">Imagen de la Especie:</label>
            <input
                type="file"
                id="specieImage"
                class="form-control"
                (change)="onImageSelected($event)"
            />
        </div>

        <button type="submit" class="btn btn-primary mt-4">Crear Especie</button>
    </form>
</div>
