<div class="col-lg-8 mx-auto">
    <div class="jumbotron text-center">
        <h1 class="display-4">{{title}}</h1>
        <p class="lead">Gestiona tu santuario virtual con facilidad.</p>
        <hr class="my-4">
        <div class="d-flex flex-wrap justify-content-center gap-3">
            <a href="zones" class="btn btn-primary btn-lg px-4" role="button" aria-label="Gestionar zonas">
                <i class="bi bi-geo-alt"></i> Zonas
            </a>
            <a href="species" class="btn btn-primary btn-lg px-4" role="button" aria-label="Gestionar especies">
                <i class="bi bi-feather"></i> Especies
            </a>
            <a href="#" class="btn btn-primary btn-lg px-4" role="button" aria-label="Gestionar habitantes">
                <i class="bi bi-heart"></i> Habitantes
            </a>
            <a href="#" class="btn btn-primary btn-lg px-4" role="button" aria-label="Gestionar usuarios">
                <i class="bi bi-person"></i> Usuarios
            </a>
        </div>
    </div>
</div>
