<div class="col-lg-6 mx-auto mt-4">
    <div class="jumbotron text-center p-4 bg-light rounded">
        <h1 class="display-4">Modificar Zona</h1>
    </div>
    <form #createZoneForm="ngForm" (submit)="onSubmit(createZoneForm)">
        <div class="form-group">
            <label for="zoneName">Nombre de la Zona:</label>
            <input
                type="text"
                id="zoneName"
                class="form-control"
                [(ngModel)]="zone.name"
                name="name"
                placeholder="Introduce el nombre de la zona"
                required
            />
        </div>

        <div class="form-group mt-3">
            <label for="zoneDescription">Descripción de la Zona:</label>
            <textarea
                id="zoneDescription"
                class="form-control"
                [(ngModel)]="zone.description"
                name="description"
                placeholder="Introduce una descripción"
                rows="3"
                required
            ></textarea>
        </div>

        <div class="form-group mt-3">
            <label for="zoneImage">Imagen de la Zona:</label>
            <input
                type="file"
                id="zoneImage"
                class="form-control"
                (change)="onImageSelected($event)"
            />
        </div>

        <button type="submit" class="btn btn-primary mt-4">Modificar Zona</button>
    </form>
</div>
